.filters-list {
	position: sticky;
	top: 0;
}

.avoid-clicks {
	pointer-events: none;
}

/*
 * Force the Sidebar to be always displayed when
 * the window is big enough.
 * This fixes an edge case that resulted in the
 * collapsing animation to play when not needed.
 */
/* 768px = md breakpoint */
@media (min-width: 768px) {
	.collapsing {
		height: 100% !important;
	}
}

/* List group item */
@media (max-width: 768px) {
	.list-group-item {
		height: 2.8em;
		padding: 0.6em;
	}
	.list-group-item:not(.active) {
		background-color: #353a40;
		border-color: #353a40;
		color: white;
	}
	.list-group-item:not(.active):hover {
		color: #78b8fd;
	}
}
